<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"
       default-autowire="no"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!--<util:properties id="someProperties" location="classpath:/someValues.properties"/>-->
    <bean id="someProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:/someValues.properties</value>
                <value>classpath:/someValues2.properties</value>
            </list>
        </property>
    </bean>

    <!--<context:property-placeholder location="classpath:/someValues3.properties"/>-->
    <bean id="someHolderProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/someValues3.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.spring.simple"/>
    <context:component-scan base-package="com.spring.configure.bean"/>

    <bean id="simple" class="com.spring.simple.SimpleBean" scope="singleton"
          lazy-init="false" init-method="init" destroy-method="preDestory">
        <property name="name" value="Chen,Rui"/>
    </bean>

    <bean id="annotationSimple" class="com.spring.simple.AnnotationBean" scope="singleton">
        <property name="userName" value="Chen,Rui"/>
    </bean>

</beans>